@model Impacta.Tarefas.Web.TarefasMOD

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir</h2>

<h3>Realmente deseja excluir essa tarefa?</h3>
<div>
    <h4>Tarefas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prioridade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prioridade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Concluida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Concluida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacoes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacoes)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Voltar para a lista de tarefas", "ListarTodasTarefas", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
